@model FunApp.Services.Models.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<h2>@ViewData["Title"]</h2>


@foreach (var joke in Model.Jokes)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    @joke.Content
                </div>
                <div class="panel-footer">
                    @joke.CategoryName
                    @*@if (this.User.Identity.IsAuthenticated)
                        {
                            <a class="btn btn-default btn-sm" asp-controller="Jokes" asp-action="Details" asp-route-id="@joke.Id">View</a>
                        }*@
                    <a class="btn btn-default btn-sm" asp-controller="Jokes" asp-action="Details" asp-route-id="@joke.Id">View</a>
                </div>
            </div>
        </div>
    </div>
}

